body {
    font-family: sans-serif;
}

input#playSpeed {
    width: 4em;
}

input.headerpin {
    width: 4em;
}

.expand {
    flex: 1;
    margin-left: 0.5em;
}

.noexpand {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.expandFlexbox {
    display: flex;
}

.centred {
    text-align: center;
}

.right {
    text-align: right;
}
